/*img{
	width:50px;
    height:50px;
}
body{
	background-image: url(img_publicidad/logo_informaticaSistemas);
}*/

* {
  margin: 0;
  padding: 0;

}

.sin_padding{
	padding: 0;
}

.titulo-aviso {
  text-transform: uppercase;
  font-family: Georgia;
  background: #ccd1d1;
}

.fondo-avisos{
  background: linear-gradient(to right, #dfdede, white);
}

.fondo-titulo-img{
  background: linear-gradient(to left, #bcc1c1 65%, #e0e7e7 93%, white 100%);
}

.img-border{
  border-left: 1px solid rgba(0, 0, 0, 0.834);
  box-shadow: -8px 0 5px -2px rgba(0, 0, 0, 0.245);
}

.sin-separacion{
  padding-left: 0%;
  margin-left: 0%;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-container {
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: start; /* Alinea los elementos al inicio del contenedor */
  font-family: MonotypeCorsiva; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.atentamente-text {
  color: black; 
  margin-left: 2vh;
  margin-right: 5px; /* Espacio entre 'Atentamente' y el subtítulo */
  flex-shrink: 0; /* Evita que este elemento se reduzca */
}

.subtitulo-text {
  text-transform: uppercase; 
  font-family: Georgia; 
  color: #640717; 

  font-size: xx-large;
  flex-shrink: 1; /* Permite que este elemento se reduzca si es necesario */
}

.azul{
  background:    #09073b  ;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  height: 11em; /* Ajusta según tu necesidad */
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

nav li {
  color: white;
  cursor: pointer;
}

.footer{
  width: 100%;
  bottom: 0;
  position: fixed;

}

.degradado{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#380137+0,8f0222+44,8f0222+56,380137+100 */
background: #380137; /* Old browsers */
background: -moz-linear-gradient(left, #380137 0%, #8f0222 44%, #8f0222 56%, #380137 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #380137 0%,#8f0222 44%,#8f0222 56%,#380137 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #380137 0%,#8f0222 44%,#8f0222 56%,#380137 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#380137', endColorstr='#380137',GradientType=1 ); /* IE6-9 */
}
.sin_paddingcarousel{
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.portada{
   background-repeat: no-repeat; 
   background-attachment: scroll;
   background-position: 50% 50%;
   width: 100% ;
   text-align: center;
 
}

table.tabla {

  background-color: #1AADB5;
}

div.centerTable{
        text-align: center;
}

 

div.centerTable table {
       margin: 0 auto;
       text-align: left;
}

/*.contenedor {
  padding: 1% 0;
}
.centralizador {
  padding: 2% 0;
}*/

.monitor tr td {
  border-color:white;
}